/* MENU RELATED TRANSITIONS */

.header {
	transform: translate(0, 0);
	transition: transform $global-transistion-duration 0.0s ease-out;
}
	
.menu-container li {
	opacity: 0;
	
	transition: 
		/*property	duration	delay */
		opacity		0.5s 0.3s;
		
	@include mq(mq-land) {
		opacity: 1;
	}
		
		// @include uni-offset(7, 0.25, opacity, 0.15);
}
.nav-switch ~ label ~ .menu-container {
	background-color: transparent;
}
.nav-switch:checked ~ label ~ .menu-container {
	background-color: var(--menu-bg);
	li {
		opacity: 1;
		// transition-delay: $global-transistion-duration;
		// @include uni-offset(6, 0.85, opacity, 0.25);
	}
}


.hamburger {
	transition: background $global-transistion-duration;
}
.hamburger span {
	transition: background 0s $global-transistion-duration;
	&::before,
	&::after {
		transition-duration: $global-transistion-duration, $global-transistion-duration; 
		transition-delay: $global-transistion-duration, 0s;
	}
}
.hamburger span::before {
	transition-property: top, transform;
}
.hamburger span::after{
	transition-property: bottom, transform;
}
.nav-switch:checked ~ label span::before {
	transform: rotate(45deg);
}
.nav-switch:checked ~ label span::after {
	transform: rotate(-45deg);
}
.nav-switch:checked ~ label span::before,
.nav-switch:checked ~ label span::after {
	transition-delay: $global-transistion-duration, $global-transistion-duration;
}

.js {
	.scrolled-OFF {
		transform: translate(0, calc(var(--header-H) * -1));
		.logo {
			transition-delay: 0.75s;
		}
		.hamburger span {
			transition-delay: 0.4s;
		}
		.logo,
		.hamburger span,
		.menu-container {
			transform: translate(0, calc(var(--header-H) * -1));
		}
	}
	.header {
		background: var(--menu-bg);
		background-color: var(--menu-bg);
		// --color-contrast-high: var(--white);
		@include mq(mq-iP-land) {
			--color-bg: transparent;
			--menu-bg: transparent;
			// --color-bg: var(--kamigos-blue);
		}
		.nav-list--lang {
			// color: hsla(var(--kamigos-white-hsl), .35);
			transition: color #{$dur}s ease-in-out;
			li {
				&:hover,
				&:active,
				&:focus,
				&.current-lang-item {
					// color: hsla(var(--kamigos-white-hsl), 1.0);
				}
			}
		}
		&.scrolled {
			--color-bg: var(--white);
			--color-contrast-high: var(--kamigos-blue);
			@include mq(mq-iP-land) {
				// --color-bg: var(--white);
			}
			.nav-list--lang {
				
				color: hsla(var(--kamigos-blue-hsl), .35);
				li {
					&:hover,
					&:active,
					&:focus,
					&.current-lang-item {
						color: hsla(var(--kamigos-blue-hsl), 1.0);
					}
				}
			}
		}
		.logo svg {
			fill: var(--color-contrast-high);
		}
	}
	
	.scroll-trigger {

		&--linethrough,
		&--faq {
			&::before {
				display: none;
				@include mq(mq-land) {
					display: block;
					transition: transform calc(#{$global-transistion-duration} * 2) 0.0s $cubic4;
					transform: scaleY(0);
				}
			}
			&.inView {
				&::before {
					@include mq(mq-land) {
						transform: scaleY(1);
					}
				}
			}
		}
		

		&--faq {
			> * {
				opacity: 0;
				transform: translateY($prlx-dist);
				@include css-paralax(2, .75);
			}
			&.inView {
				> * {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
		&--news {
			.news-list--anim::before {
				display: none;

				@include mq(mq-land) {
					transition: transform calc(#{$global-transistion-duration} * 2) 0.0s $cubic4;
					transform: scaleX(0);
				}
			}
			&.inView {
				.news-list--anim::before {
					@include mq(mq-land) {
						transform: scaleX(1);
					}
				}
			}
		}
		&--gallery {}
		&--contact {
			.company-legal,
			.even-columns--item {
				opacity: 0;
				transform: translateY($prlx-dist);
				@include css-paralax(10, .875); //($children:1, $duration: 0.5, $offset: 0.25, $startdelay: 0)
			}
			// .company-legal {
			// 	transition:
			// 		opacity 0.875s 1.75s ease-in-out,
			// 		transform 0.875s 1.75s ease-in-out;

			// }
			&.inView {
				.company-legal,
				.even-columns--item {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
		
	--intro-delay: 0.5s;
	--stagger-t: .25s;

	.loading {
		
		.site-title {
			opacity: 0;
			&:nth-of-type(3),
			&:nth-of-type(4),
			.doubled-line {
				transform: translateY(0);
			}
		}
		.site-subtitle {
			opacity: 0;
			transform: translateY($prlx-dist);
		}
	}

	.site-title,
	.doubled-line {
		transition: 
			/*property	duration	delay */
			opacity		$intro-t	0.0s	ease-in-out,
			transform	$intro-t*3	0.0s	$cubic4;
	}

	.site-subtitle {
		transition: 
			/*property	duration	delay */
			opacity		$intro-t	calc(var(--intro-delay) * 4)	ease-in-out,
			transform	$intro-t*2	calc(var(--intro-delay) * 4)	ease-in-out;
	}

	.site-title {
		opacity: 1;

		&:nth-of-type(3),
		&:nth-of-type(4),
		.doubled-line {
			transform: translateY(.15em);
		}
		&:nth-of-type(1) {
			transition-delay: calc(#{$intro-t} + (var(--stagger-t) * 1) ), 0.0s; //opacity, transform
		}
		&:nth-of-type(2),
		.doubled-line {
			transition-delay: calc(#{$intro-t} + (var(--stagger-t) * 2) ), calc(var(--intro-delay) * 4); //opacity, transform
		}
		&:nth-of-type(3) {
			transition-delay: calc(#{$intro-t} + (var(--stagger-t) * 3) ), calc(var(--intro-delay) * 4); //opacity, transform
		}
		&:nth-of-type(4) {
			transition-delay: calc(#{$intro-t} + (var(--stagger-t) * 4) ), calc(var(--intro-delay) * 4); //opacity, transform
		}
	}
	
	.site-subtitle {
		transform: translateY(.3em);
	}

	.loaded {
		
	}
}


.btn {
	&-circ {

	}
	&-oval {
	}
	&-icon {

	}
	&-outline {
		&:hover,
		&:active,
		&:focus,
		&:focus-within {
			border-color: var(--btn-highlight);
		}
	}
	transition:
		color #{$dur}s ease-in-out,
		background-color #{$dur}s ease-in-out,
		border-color #{$dur}s ease-in-out;
	&.hover-bgr {
		&:hover,
		&:active,
		&:focus,
		&:focus-within {
			background-color: var(--btn-highlight);
		}
	}
}
.menu a,
.section-footer--col a,
.main-nav-list a,
.foot-nav-list a {
	&,
	&:not(.btn),
	&.hover-underline {
		&::after {
			transform: translateX(-100%);
			transition: transform #{$dur}s;
		}
		&:active::after,
		&:focus::after,
		&:focus-within::after,
		&:hover::after,
		&:focus::after {
			// transform: translateX(0, 0.2em, 0);
			transform: translateX(0);
		}
	}
}
.cta-item--link {
	.cta-label {
		transition:
			transform #{$dur}s ease-in-out;
	}
	.icon {
		transition:
			background-color #{$dur}s ease-in-out,
			border-color #{$dur}s ease-in-out;
	}
	&:hover,
	&:active,
	&:focus,
	&:focus-within {
		.cta-label {
			transform: rotate(-3deg);
		}
		.icon {
			border-color: var(--color-highlight);
			background-color: var(--color-highlight);
		}
	}
}