.header {
	position: fixed;
	width: 100%;
	max-width: 100%;
	top: 0;
	z-index: 100;
	// 	display: grid;
	// 	grid-template-columns: repeat(6, 1fr);
	// 	gap: var(--gap);
	// 	height: 100dvh;
	// &::before {
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// }
}
