.logo-container {
	// height: var(--logo-H);
	
	position: absolute;
	top: calc(var(--pad-T) * 3);
	left: var(--pad-R);
	z-index: 50;
	@include mq(mq-land) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.logo {

	width: calc((100vw - (var(--pad-R) * 2)) / 3);
	@include mq(mq-land) {
		width: calc(var(--logo-H) * var(--aspect-ratio));
	}
	svg {
		fill: var(--color-contrast-high);
	}
}





.section-footer--col .logo {
	@include mq(mq-land) {
	    max-width: 100%;
	}
}



.section-footer--col .logo-container {
	
	position: relative;
	margin-bottom: calc( var(--pad-T) * 1.3333333 );
	@include mq(mq-land) {
	    height: calc(100% / (var(--aspect-ratio)));
	}
}

