.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	transition: all 0.65s;
	height: 0;

	
	@include mq(mq-land) {
		flex-direction: row;
		justify-content: flex-end;
		overflow: initial;
		align-items: center;
		padding-inline: var(--pad-R);
	}
	@include mq(mq-iPad-land) {
	}


	.nav-list {
		font-size: $fz-NAV;
		display: flex;
		color: var(--color-contrast-high);
		
		flex-direction: column;
		width: 100%;
		@include mq(mq-land) {
			width: auto;
			flex-direction: row;
			justify-content: center;
		}
	
		li {
			position: relative;
			// padding: $nav-GAP 0;
			padding: calc(#{$fz-NAV} * .25) 0;
			display: flex;
			justify-content: center;
			width: 100%;

			@include mq(mq-land) {
				width: auto;
			}

			a {
				line-height: 100%;
				position: relative;
				z-index: 100;
			}
		}	
		&.main-nav-list	{
			// display: flex;
			// flex-direction: column;
			padding-inline: var(--pad-R);
			@include mq(mq-land) {
				padding-inline: var(--pad-R) calc(var(--gap) * 2);
			}
			@include mq(mq-land) {
				gap: calc(var(--gap) * 2);
				flex-direction: row;
				text-transform: uppercase;
				font-size: $fz-NAV-LAND;
				// margin-right: calc(var(--pad-R) * 3);
			}
			li {
				border-top: $line-THICK solid var(--color-contrast-high);
				&:last-of-type {
					border-bottom: $line-THICK solid var(--color-contrast-high);
					@include mq(mq-land) {
						border: none;
					}
				}
				@include mq(mq-land) {
					border: none;
				}
				a {
					line-height: 1.3em;
					@include mq(mq-land) {
						// padding: .3em 0 .4em;
					}
				}
			}
		}



		&.sub-nav-list	{
			font-size: $fz-PLAIN;
			@include mq(mq-land) {
				display: none;
				visibility: hidden;
			}
		}
		&.nav-list--lang {
			flex-direction: row;
			justify-content: center;
			margin-top: calc(var(--touch-S) * .5);
			@include mq(mq-land) {
				margin-top: 0;
			}
			// align-items: flex-start;
			li {
				width: var(--touch-S);
				@include mq(mq-land) {
					width: auto;
				}
				display: inline-flex;
				&:hover,
				&:active,
				&:focus,
				&.current-lang-item {
					// color: var(--color-highlight);
				}
			}
		}
	}
	.submenu {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
		position: absolute;
		bottom: calc(var(--pad-T) * 3);
		@include mq(mq-land) {
			position: relative;
			bottom: 0;
		}
		.btn {
			@include mq(mq-land) {
				padding: .3em var(--btn-pad-R, 1.25em) .38em;
			}
		}


		// margin-top: auto;
	}
}
.foot-nav-list {
	column-count: 2;
	@include mq(mq-land) {
		column-count: 1;
	}
}


.menu-container li:hover,
.menu-container li:focus,
.menu-container li.current {
	cursor: pointer;
}