@import '1-settings/_colors';
@import '1-settings/_vars';
@import '1-settings/_custom-ff';

@import '1-tools/_mixins';

// @import '2-generic/_body';
@import '2-generic/_box-model';
@import '2-generic/_reset';
@import '2-generic/_type';

@import '3-elements/_0-a';
@import '3-elements/_0-table';
@import '3-elements/_0-ul';
@import '3-elements/_1-button';
@import '3-elements/_1-form';
@import '3-elements/_2-headlines';
@import '3-elements/_2-sub-sup';

@import '4-objects/_classes';
@import '4-objects/_lazyloading';
// @import '4-objects/_svg';
@import '4-objects/_video-embed';


@import '5-components/_01-header';
@import '5-components/_02-logo';
@import '5-components/_03.01-menu';
@import '5-components/_03.02-hamburger';
// @import '5-components/_04-subnav';
// @import '5-components/_05-content';
@import '5-components/_05.01-accordeon';
@import '5-components/_05.02-gallery';
// @import '5-components/_05.03-news';
// @import '5-components/_06-footer';
@import '5-components/_00-css3-transforms.scss';


@media (prefers-reduced-motion: reduce) {
* { animation: none !important; transition: none !important; }
}

::-webkit-scrollbar {display:none}

html {
	overflow: auto;
	-ms-overflow-style: none; /* IE 11 */
	scrollbar-width: none; /* Firefox 64 */
	scroll-behavior: smooth;
}

[data-theme], [data-theme="default"] {
  background-color: var(--color-bg);
  color: var(--color-contrast-high);
  --menu-bg: var(--kami-ochre);
  --btn-highlight: var(--kami-silky-blue);
  
  @include mq(mq-land) {
	  --menu-bg: transparent;
  }

}
[data-theme="dark"] {
	--color-primary: var(--white);
	/* color contrasts */
	--color-bg: var(--kamigos-blue);
	--color-contrast-high: var(--white);
	--color-labels: var(--white);
}
[data-theme="transparent"] {
	--color-primary: var(--white);
	/* color contrasts */
	--color-bg: transparent;
	--color-contrast-high: var(--white);
	--color-labels: var(--white);
}
[data-theme="ochre"] {
	--color-bg: var(--kami-ochre);
}

[data-theme="silky-blue"] {
	--color-bg: var(--kami-silky-blue);
	--color-highlight: var(--kami-ochre);
  --btn-highlight: var(--kami-ochre);
}

.wrapper {
  position: relative;
  // &:not(.has-fullscreen-header) {
	> *:first-child:not(.full-bleed) {
	  padding-top: calc(var(--pad-T) * 7);
	}
}
.accord-item--input,
.nav-switch,
.nav-checkbox { display: none }

.section {

	&:not(.full-bleed) {
	  padding-inline: var(--wrapper-padding-inline);
	}
	&-offer,
	&-footer {
		padding-block: calc(var(--pad-T) * 1.33333333);
	}
	&-join,
	&-about {
		padding-block: calc(var(--pad-T) * 1.33333333) calc(var(--pad-T) * 6.33333333) ;
		@include mq(mq-land) {
			padding-block: calc(var(--pad-T) * 1.33333333) calc(var(--pad-T) * 5) ;
		}
	}
	&-footer {
		background-color: var(--color-highlight);
	}
	&-footer--row {
		display: flex;
		gap: var(--gap);
		&:not(.section-footer--row_cols) {
			flex-direction: column;
			@include mq(mq-land) {
				flex-direction: row;
			}
		}
	}
	&-footer--col {
		&:not(.section-footer--col_50) {
			width: 100%;
		}
		&_50 {
			width: 50%;
		}
		&:not(.section-footer--col_logo) {
			padding-block: calc(var(--pad-T) * .5) calc(var(--pad-T) * 2);
		}
		@include mq(mq-land) {
			width: 50%;
		}
		&_log-in-out {
			text-align: center;
			@include mq(mq-land) {
				text-align-last: left;
			}
		}
	}

	&-full-width {
	}

	&.section-faq {
	  padding-inline: var(--wrapper-padding-inline);
		@include mq(mq-land) {
			padding-inline: 0;
		}
	}

	&:not(.section--hero):not(.section--footer) {
		position: relative;
		z-index: 1;
	}

	&--hero {
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		height: 100dvh;
		display: flex;
		flex-direction: column;
		// justify-content: flex-end;
		justify-content: center;
		align-items: center;
		

		&.sticky {
			position: sticky;
			top: 0;
			z-index: 0;
		}
		&.fixed {
			position: fixed;
			z-index: 0;
		}
		video,
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 0;
		}		
	}
	&-news {
		padding-block-start: calc(var(--pad-R) * 2.5);
	}
	&-contact {
	}
	&--footer {
		padding-block: var(--pad-T);
		padding-inline: var(--pad-R);
	}
}


.even-columns {
	display: flex;
	flex-direction: column;
	gap: var(--pad-R) var(--pad-T);
	@include mq(mq-land) {
		flex-direction: row;
	}
	&--item {
		flex-basis: calc((100% - var(--pad-R)) * .5);
	}
}

.faq-item--headline_title,
.site-title {
	position: relative;
	line-height: 1em;
}

.site-title {
	font-size: $fz-H1;
}
.faq-item--headline_title {
	font-size: $fz-H1;
	@include mq(mq-land) {
	// 	font-size: calc(100dvh / 4.0 * .8);
	}
	@include mq(mq-iPad-land) {
	// 	font-size: calc(100dvh / 4.0 * .85);
	}
}

.copyright {
}

.logo-container,
.menu-container {
	@include mq(mq-land) {
		height: calc(var(--logo-H) * 1.5 );
		top: var(--pad-T);
	}
}


.section-footer--col {
	position: relative;
	&_logo::before {
		content: "";
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: calc(var(--logo-H) * 5.0 );
	}
	.logo-container {
		top: 0;
		left: 0;
		width: 100%;
		@include mq(mq-land) {
			width: 80%;
			height: calc(var(--logo-H) * 3.5 );
		}
	}
	.logo {
		// width: calc((100vw - (var(--pad-R) * 2)) / 3);
		width: 100%;
		@include mq(mq-land) {
			width: 100%;
		}
	}
}
.section-footer--col {
	.widget-title {
		margin-bottom: calc( var(--pad-T) * .25 );
	}
}

.section-header {}
.full-width {}

.cta-container,
.split-cols {
	display: flex;
	flex-direction: column;
	@include mq(mq-land) {
		flex-direction: row;
	}
}
.split-cols {
	&.full-H {
		@include mq(mq-land) {
			min-height: 100dvh;
		}
	}
	&--item {
		display: flex;
		flex-direction: column;
		&:not(.split-cols--item_caption):not(.split-cols--item_img) {
			justify-content: center;
			min-height: 60dvh;
		}
		&_caption {
			padding-block: calc(var(--pad-T) * 1.33333333) calc(var(--pad-T) * 2.666666);
			padding-inline: 0;
			@include mq(mq-land) {
				padding-block: calc(var(--pad-T) * .25) calc(var(--pad-T) * 2.666666);
				padding-inline: calc(var(--gap) * .5);
			}
			> * {
				@include mq(mq-land) {
					max-width: 24em;
				}
			}
		}
		&:not(.carousel):not(.split-cols--item_img):not(.split-cols--item_caption) {
			padding: var(--pad-T) var(--pad-R);
		}
		&_img {
			position: relative;
		}
		@include mq(mq-land) {
			min-height: initial;
			width: 50%;
		}
	}
	.split-cols--img {
		// width: 100%;
		// height: 100%;
		// position: absolute;
		// top: 0;
		// left: 0;
		@include mq(mq-land) {
			position: relative;
			width: calc(100% / 3 * 2);
			margin-top: calc(var(--pad-T) * .25);
			height: auto;
		}
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
.section-row {
	&--cta {
		display: flex;
		justify-content: center;
		padding-block: calc(var(--pad-T) * 2.66666) 0; 
	}
}
.section-join--cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	.btn {
		margin-block: calc(var(--pad-T) * 1.333333);
		@include mq(mq-land) {
			margin-block: calc(var(--pad-T) * 1.333333) calc(var(--pad-T) * .75);
		}
	}
	// align-content: center;
}
.section-join--title {
	text-align: center;
}
.section-header--title {
	line-height: .95em;
	margin-bottom: calc(var(--pad-T) * .25);
}
.section-header--subtitle {
	&.border-T {
		padding-top: calc(var(--pad-T) * .25);
	}
}
.link-icon {
	&--arrow {}
	.scroll-down {}
}

.carousel {
	// width: 100%;
	// height: 100%;
	background-color: pink;
	position: relative;
	.carousel-item {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		// width: 100%;
		// height: 100%;
		&--img_container {
			width: 100%;
			height: 100%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				// min-height: 100%;
			}
		}
	}
}

.section-headline {
	padding-bottom: calc(var(--pad-T) * .5);
	margin-bottom: calc(var(--pad-T) * .5);
	@include mq(mq-land) {
		padding-bottom: calc(var(--pad-T) * .25);
		margin-bottom: calc(var(--pad-T) * .25);
	}
}
.section-perex {
	@include mq(mq-land) {
		max-width: calc(50% - var(--pad-R));
	}
}

.cta {
	&-container {
		padding-block: calc(var(--pad-T) * 4) calc(var(--pad-T) * 5);
	}
	&-item {
		display: flex;
		justify-content: center;
		&:not(:last-child) {
			margin-bottom: calc(var(--pad-T) * 2);
			@include mq(mq-land) {
				margin-bottom: 0;
			}
		}
		@include mq(mq-land) {
			width: 50%;
		}
	}
	&-item--link {}
	&-label {
		text-align: center;
		flex-grow: 2;
		@include mq(mq-land) {
			flex-grow: 1;
		}
	}
}
.btn-icon {
	flex-grow: 1;
	@include mq(mq-land) {
		flex-grow: .5;
	}
	--btn-highlight: var(--color-contrast-high);
}
.icon {
	display: inline-flex;
	aspect-ratio: 1;
	border-radius: 50%;
	border: $line-THICK solid var(--color-contrast-high);
	margin-left: calc(#{$fz-H4} * -1);
	// position: absolute;
	// right: .8em;
	// top: .8em;
	@include mq(mq-land) {
		margin-left: 0;
		// position: relative;
	// min-width: initial;
	}

	&-circ {}
	&-arrow {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 40 40'%3E%3Cpath fill='%23000' d='m26.424 19.576.425.424-.425.424-6 6-.848-.848 4.977-4.976H13v-1.2h11.553l-4.977-4.976.848-.848z'/%3E%3C/svg%3E") center center no-repeat;
		background-size: 40px 40px;
	}
}

.textlink {
	position: relative;
	&-underline {
		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: $underline-size;
			background-color: var(--color-contrast-high);
		}
	}
}
.eab-listing {
	&--grid {}
	padding-inline: var(--wrapper-padding-inline);
	padding-block: calc(var(--pad-T) * 2.666666) calc(var(--pad-T) * 2.666666) ;
	@include mq(mq-land) {
		padding-block: calc(var(--pad-T) * 2.666666) calc(var(--pad-T) * 5) ;
	}

	.eab-listing__header {
		// padding-inline: var(--wrapper-padding-inline);
		.eab-listing__title {
			margin-bottom: 0;
		}
	}
	.eab-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: calc(var(--gap) * 4) var(--gap);
		@include mq(mq-land) {
			grid-template-columns: 1fr 1fr;
		}
		.eab-card  {
			position: relative;
			border-top: $line-THICK solid var(--color-contrast-high);
			padding-top: calc(var(--gap) * .5);
			&--grid {}
			.eab-card__header {
				margin-bottom: calc(var(--pad-T) * 1.33333333);
				.eab-card__title {
					margin-bottom: calc(var(--pad-T) * .2);
				}
				.eab-card__date {
					font-size: $fz-MINOR;
				}
				.eab-card__price {
					visibility: hidden;
					display: none;
				}
				.icon {
					position: absolute;
					top: calc(var(--gap) * .7);
					right: 0;
					width: var(--icon-S);
					height: var(--icon-S);
					&-circ {}
					&-arrow {}
				}
			}
		}
		.eab-card__media {
			img {}
		}
		.eab-card__link {}
		.abs-link {}
	}
}