$body-C: #444;
$body-BGR: #f0f0f0;

$active-C: blue;

:root, [data-theme="default"] {
	// --white: #FFFFFF;
	--black: #000000;
	--gray1: hsla(0, 0%, 85%, 1);
	--gray2: hsla(0, 0%, 48%, 1);
	--gray3: hsla(0, 0%, 62%, 1);
	--gray4: hsla(0, 0%, 72%, 1);
	--color-primary: var(--gray1);

	--MYLIFT-white-hsl: 0deg, 100%, 100%;
	--white: hsla(var(--MYLIFT-white-hsl), 1.0);

	--MYLIFT-blue-hsl: 240deg, 100%, 51%; //#032AFF
	--MYLIFT-blue: hsla(var(--MYLIFT-blue-hsl), 1);

	--corp-c-1: hsla(231, 100%, 51%, 1); // 
	--corp-c-2: hsla(87, 31%, 86%, 1); // 
	--corp-c-3: hsla(18, 86%, 83%, 1); // 
	--corp-c-4: hsla(357, 89%, 35%, 1); //

	/* color contrasts */
	--color-bg: var(--white);
	--menu-bg: var(--white);
	--color-contrast-high: var(--black);
	--color-highlight: var(--MYLIFT-blue);
	--color-labels: var(--black);
	
}