 @font-face {
	font-family: 'FF-Reg';
	src:
		url("../fonts/Fellix-SemiBold.woff") format("woff"),
		url("../fonts/Fellix-SemiBold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
// @font-face {
// 	font-family: 'FF-Med';
// 	src:
// 		url("../fonts/NeueHaasGrotDisp-65Medium.woff") format("woff"),
// 		url("../fonts/NeueHaasGrotDisp-65Medium.woff2") format("woff2");
// 	font-weight: normal;
// 	font-style: normal;
// }