:root, [data-theme="default"] {
  --black: #000000;
  --gray1: hsla(0, 0%, 85%, 1);
  --gray2: hsla(0, 0%, 48%, 1);
  --gray3: hsla(0, 0%, 62%, 1);
  --gray4: hsla(0, 0%, 72%, 1);
  --color-primary: var(--gray1);
  --kami-ochre-hsl: 39deg, 66%, 50%;
  --kami-ochre: hsla(var(--kami-ochre-hsl), 1.0);
  --kami-silky-blue-hsl: 209deg, 100%, 92%;
  --kami-silky-blue: hsla(var(--kami-silky-blue-hsl), 1.0);
  --kami-dark-green-hsl: 175deg, 100%, 23%;
  --kami-dark-green: hsla(var(--kami-dark-green-hsl), 1.0);
  --kami-blue-hsl: 214deg, 74%, 52%;
  --kami-blue: hsla(var(--kami-blue-hsl), 1.0);
  --kami-off-white-hsl: 24deg, 33%, 97%;
  --kami-off-white: hsla(var(--kami-off-white-hsl), 1.0);
  --kami-lavender-hsl: 287deg, 26%, 59%;
  --kami-lavender: hsla(var(--kami-lavender-hsl), 1.0);
  --kamigos-white-hsl: 0deg, 100%, 100%;
  --white: hsla(var(--kamigos-white-hsl), 1.0);
  --kamigos-blue-hsl: 240deg, 100%, 51%;
  --kamigos-blue: hsla(var(--kamigos-blue-hsl), 1);
  --corp-c-1: hsla(231, 100%, 51%, 1);
  --corp-c-2: hsla(87, 31%, 86%, 1);
  --corp-c-3: hsla(18, 86%, 83%, 1);
  --corp-c-4: hsla(357, 89%, 35%, 1);
  /* color contrasts */
  --color-bg: var(--kami-off-white);
  --color-contrast-high: var(--black);
  --color-highlight: var(--kami-ochre);
  --color-labels: var(--black);
}

:root {
  --pad-T: calc(20px + (30 - 20) * ((100vw - 320px) / (2560 - 320)));
  --pad-R: calc(15px + (20 - 15) * ((100vw - 320px) / (2560 - 320)));
  --btn-pad-R: 1.5em;
  --gap: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
  --hero-gap: calc(28px + (24 - 28) * ((100vw - 320px) / (2560 - 320)));
  --fscreen-T: var(--pad-T);
  --fscreen-R: var(--pad-R);
  --wrapper-padding-inline: var(--pad-R);
  --wrapper-max-width: 90rem;
  --touch-S: 28px;
  --icon-S: 40px;
  --dsalpha-1: 0.0;
  --dsalpha-2: 0.0;
  --maW: 1440;
  --logo-H: calc(36px + (42 - 36) * ((100vw - 320px) / (2560 - 320)));
  --header-H: 20vh;
  --dir-LR: 1;
  --gallery-H: 80dvh;
  --paralax-X: 20rem;
  --dot-R: 4px;
}
@media (pointer: coarse) {
  :root {
    --touch-S: 42px;
    --icon-S: 36px;
    --dot-R: 6px;
  }
}

/* GLOBAL SIZES */
/* CSS TRANSITION VARS */
/* GLOBAL FONT-SIZE */
/* GLOBAL PADDING */
/* GLOBAL MARGIN */
/* HEADER */
/* LOGO */
/* NAVIGATION */
/* NAVIGATION HAMBURGER MENU */
/* FORM SPECIFIC */
@font-face {
  font-family: 'FF-Reg';
  src: url("../fonts/Fellix-SemiBold.woff") format("woff"), url("../fonts/Fellix-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body * {
  font-family: 'FF-Reg';
  font-weight: normal;
  font-style: normal;
}
body *.strong {
  font-family: 'FF-Reg';
}

h1, h2, h3, h4, h5, h6, p, dt, dl, dd, sup, sub, ul, a {
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -moz-font-feature-settings: "kern" 1;
  -ms-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
}

h1,
h2,
h3,
h4,
p {
  overflow-wrap: break-word;
}

.plain {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.minor {
  font-size: calc(15px + (15 - 15) * ((100vw - 320px) / (1920 - 320)));
}

a {
  color: inherit;
  text-decoration: none;
}

.menu a:not(.btn), .menu a.hover-underline,
.section-footer--col a:not(.btn),
.section-footer--col a.hover-underline,
.main-nav-list a:not(.btn),
.main-nav-list a.hover-underline,
.foot-nav-list a:not(.btn),
.foot-nav-list a.hover-underline {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.menu a:not(.btn)::after, .menu a.hover-underline::after,
.section-footer--col a:not(.btn)::after,
.section-footer--col a.hover-underline::after,
.main-nav-list a:not(.btn)::after,
.main-nav-list a.hover-underline::after,
.foot-nav-list a:not(.btn)::after,
.foot-nav-list a.hover-underline::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-contrast-high);
}
.menu a:not(.btn):active::after, .menu a:not(.btn):focus::after, .menu a:not(.btn):focus-within::after, .menu a:not(.btn):hover::after, .menu a:not(.btn):focus::after, .menu a.hover-underline:active::after, .menu a.hover-underline:focus::after, .menu a.hover-underline:focus-within::after, .menu a.hover-underline:hover::after, .menu a.hover-underline:focus::after,
.section-footer--col a:not(.btn):active::after,
.section-footer--col a:not(.btn):focus::after,
.section-footer--col a:not(.btn):focus-within::after,
.section-footer--col a:not(.btn):hover::after,
.section-footer--col a:not(.btn):focus::after,
.section-footer--col a.hover-underline:active::after,
.section-footer--col a.hover-underline:focus::after,
.section-footer--col a.hover-underline:focus-within::after,
.section-footer--col a.hover-underline:hover::after,
.section-footer--col a.hover-underline:focus::after,
.main-nav-list a:not(.btn):active::after,
.main-nav-list a:not(.btn):focus::after,
.main-nav-list a:not(.btn):focus-within::after,
.main-nav-list a:not(.btn):hover::after,
.main-nav-list a:not(.btn):focus::after,
.main-nav-list a.hover-underline:active::after,
.main-nav-list a.hover-underline:focus::after,
.main-nav-list a.hover-underline:focus-within::after,
.main-nav-list a.hover-underline:hover::after,
.main-nav-list a.hover-underline:focus::after,
.foot-nav-list a:not(.btn):active::after,
.foot-nav-list a:not(.btn):focus::after,
.foot-nav-list a:not(.btn):focus-within::after,
.foot-nav-list a:not(.btn):hover::after,
.foot-nav-list a:not(.btn):focus::after,
.foot-nav-list a.hover-underline:active::after,
.foot-nav-list a.hover-underline:focus::after,
.foot-nav-list a.hover-underline:focus-within::after,
.foot-nav-list a.hover-underline:hover::after,
.foot-nav-list a.hover-underline:focus::after {
  outline: none;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-family: sans-serif;
  font-size: .85em;
}

table tr {
  padding: .35em;
}

table th,
table td {
  padding: .625em 0;
  text-align: right;
}

table td .align-L {
  text-align: left;
}

table th {
  letter-spacing: .1em;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    border-bottom: 3px solid #fff;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
  }

  table td:before {
    content: attr(aria-label);
    float: left;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
input[type="submit"],
button {
  display: inline-block;
  background-image: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  text-shadow: none;
}

input[type="submit"],
.btn,
button {
  -webkit-appearance: none;
}
input[type="submit"]:active, input[type="submit"]:focus, input[type="submit"]:target, input[type="submit"]:focus-visible, input[type="submit"]:focus-within,
.btn:active,
.btn:focus,
.btn:target,
.btn:focus-visible,
.btn:focus-within,
button:active,
button:focus,
button:target,
button:focus-visible,
button:focus-within {
  cursor: pointer;
  outline: 0;
}

.btn:not(.btn-icon) {
  display: inline-block;
}
.btn-oval {
  border-radius: 10vmax;
}
.btn-oval:not(.btn-icon) {
  padding: 0.7em calc(var(--btn-pad-R) * 3) 0.8em;
}
@media screen and (orientation: landscape) {
  .btn-oval:not(.btn-icon) {
    padding: 0.7em var(--btn-pad-R, 2em) 0.8em;
  }
}
.btn-fill {
  background-color: var(--btn-highlight);
}
.btn-icon {
  display: flex;
  padding: .8em .8em .8em;
}
.btn-outline {
  border: 1px solid var(--color-contrast-high);
}

form {
  width: 100%;
}
form > div {
  position: relative;
}
form > div input[type="text"]:active, form > div input[type="text"]:focus, form > div input[type="text"]:focus-visible, form > div input[type="text"]:focus-within,
form > div input[type="number"]:active,
form > div input[type="number"]:focus,
form > div input[type="number"]:focus-visible,
form > div input[type="number"]:focus-within,
form > div input[type="phone"]:active,
form > div input[type="phone"]:focus,
form > div input[type="phone"]:focus-visible,
form > div input[type="phone"]:focus-within,
form > div input[type="email"]:active,
form > div input[type="email"]:focus,
form > div input[type="email"]:focus-visible,
form > div input[type="email"]:focus-within {
  background-color: var(--color-bg);
}
form > div input[type="text"]:active + label, form > div input[type="text"]:focus + label, form > div input[type="text"]:focus-visible + label, form > div input[type="text"]:focus-within + label,
form > div input[type="number"]:active + label,
form > div input[type="number"]:focus + label,
form > div input[type="number"]:focus-visible + label,
form > div input[type="number"]:focus-within + label,
form > div input[type="phone"]:active + label,
form > div input[type="phone"]:focus + label,
form > div input[type="phone"]:focus-visible + label,
form > div input[type="phone"]:focus-within + label,
form > div input[type="email"]:active + label,
form > div input[type="email"]:focus + label,
form > div input[type="email"]:focus-visible + label,
form > div input[type="email"]:focus-within + label {
  opacity: 0;
}
form > div input[type="text"]:valid,
form > div input[type="number"]:valid,
form > div input[type="phone"]:valid,
form > div input[type="email"]:valid {
  background: var(--color-bg) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='m8.494 16.432-1.007-1.007-1.369-1.369L2 9.938l2.376-2.376 4.118 4.118 6.562-6.562 2.376 2.376-6.562 6.562z'/%3E%3C/svg%3E") center center no-repeat;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - var(--pad-R)) 50%;
}
form > div input[type="text"]:valid + label,
form > div input[type="number"]:valid + label,
form > div input[type="phone"]:valid + label,
form > div input[type="email"]:valid + label {
  opacity: 0;
}
form textarea {
  form-sizing: normal;
}
form input[type="text"],
form input[type="number"],
form input[type="phone"],
form input[type="email"],
form input[type="submit"],
form button {
  width: 100%;
  display: block;
  padding-block: calc(calc(16px + (16 - 16) * ((100vw - 320px) / (1920 - 320))) * .7) calc(calc(16px + (16 - 16) * ((100vw - 320px) / (1920 - 320))) * .8);
  line-height: calc(calc(16px + (16 - 16) * ((100vw - 320px) / (1920 - 320))) * 1.3);
  background-color: transparent;
}
form input[type="text"]:not(.btn-outline),
form input[type="number"]:not(.btn-outline),
form input[type="phone"]:not(.btn-outline),
form input[type="email"]:not(.btn-outline),
form input[type="submit"]:not(.btn-outline),
form button:not(.btn-outline) {
  outline: none;
}
@media screen and (orientation: landscape) {
  form input[type="text"],
  form input[type="number"],
  form input[type="phone"],
  form input[type="email"],
  form input[type="submit"],
  form button {
    display: inline-block;
  }
}
form input[type="text"]:hover, form input[type="text"]:active, form input[type="text"]:focus, form input[type="text"]:focus-visible, form input[type="text"]:focus-within,
form input[type="number"]:hover,
form input[type="number"]:active,
form input[type="number"]:focus,
form input[type="number"]:focus-visible,
form input[type="number"]:focus-within,
form input[type="phone"]:hover,
form input[type="phone"]:active,
form input[type="phone"]:focus,
form input[type="phone"]:focus-visible,
form input[type="phone"]:focus-within,
form input[type="email"]:hover,
form input[type="email"]:active,
form input[type="email"]:focus,
form input[type="email"]:focus-visible,
form input[type="email"]:focus-within,
form input[type="submit"]:hover,
form input[type="submit"]:active,
form input[type="submit"]:focus,
form input[type="submit"]:focus-visible,
form input[type="submit"]:focus-within,
form button:hover,
form button:active,
form button:focus,
form button:focus-visible,
form button:focus-within {
  outline: none;
}
form input[type="text"],
form input[type="number"],
form input[type="phone"],
form input[type="email"] {
  font-size: inherit;
  border-style: none none solid none;
  border-color: transparent transparent var(--color-contrast-high) transparent;
  border-width: 1px;
}
form input[type="submit"],
form button {
  padding-inline: var(--btn-pad-R, 2em);
}

.sign_up_form-inner {
  display: flex;
}

.input-container {
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
}
.input-container > * {
  font-size: inherit;
}
.input-container label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

h1,
.h1 {
  font-size: calc(60px + (120 - 60) * ((100vw - 320px) / (1920 - 320)));
}

h2,
.h2 {
  font-size: calc(44px + (75 - 44) * ((100vw - 320px) / (1920 - 320)));
}

h3,
.h3 {
  font-size: calc(36px + (50 - 36) * ((100vw - 320px) / (1920 - 320)));
}

h4,
.h4 {
  font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1920 - 320)));
}

h5,
.h5 {
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
}

h6,
.h6 {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 1.1em;
}

.section-title {
  line-height: 1em;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
  visibility: hidden;
}

.menu,
.list-none > li {
  list-style: none;
}

.floating-li > li {
  display: inline;
}

.taR {
  text-align: right;
}

.taC {
  text-align: center;
}

.taL {
  text-align: left;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

.rel {
  position: relative;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caps {
  text-transform: uppercase;
}

.sticky {
  position: sticky;
}
.sticky-top {
  top: 0;
}

.square {
  aspect-ratio: 1/1;
}

.circ {
  border-radius: 50%;
}

.flexcols {
  display: flex;
  flex-wrap: wrap;
}
.flexcols .flexcols-item--even_W {
  width: clamp(5em, 6ch, 100px);
}

.valign-center {
  justify-content: center;
}

.fill-color-contrast-high {
  fill: var(--color-contrast-high);
}

.border-T,
.border-B {
  position: relative;
}

.border-T::before,
.border-B::after {
  content: "";
  display: block;
  background-color: var(--color-contrast-high);
  position: absolute;
  left: 0;
  transform-origin: center;
  width: 100%;
  height: 1px;
}

.border-T::before {
  top: 0;
}

.border-B::after {
  bottom: 0;
}

.sticky {
  position: sticky;
}
.sticky-top {
  top: 0;
}
.sticky-bottom {
  bottom: 0;
}

.toned::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 255, 0.8) 0%, rgba(0, 0, 255, 0.75) 100%);
}

.abs-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.desktop-hide {
  visibility: visible;
  display: initial;
}
@media screen and (orientation: landscape) {
  .desktop-hide {
    visibility: hidden;
    display: none;
  }
}

.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
}

.lazyload {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.video-container {
  position: relative;
  background-color: #000;
}
.video-container iframe,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 0;
  z-index: 100;
}

.logo-container {
  position: absolute;
  top: calc(var(--pad-T) * 3);
  left: var(--pad-R);
  z-index: 50;
}
@media screen and (orientation: landscape) {
  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.logo {
  width: calc((100vw - (var(--pad-R) * 2)) / 3);
}
@media screen and (orientation: landscape) {
  .logo {
    width: calc(var(--logo-H) * var(--aspect-ratio));
  }
}
.logo svg {
  fill: var(--color-contrast-high);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  transition: all 0.65s;
  height: 0;
}
@media screen and (orientation: landscape) {
  .menu-container {
    flex-direction: row;
    justify-content: flex-end;
    overflow: initial;
    align-items: center;
    padding-inline: var(--pad-R);
  }
}
.menu-container .nav-list {
  font-size: calc(44px + (15 - 44) * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  color: var(--color-contrast-high);
  flex-direction: column;
  width: 100%;
}
@media screen and (orientation: landscape) {
  .menu-container .nav-list {
    width: auto;
    flex-direction: row;
    justify-content: center;
  }
}
.menu-container .nav-list li {
  position: relative;
  padding: calc(calc(44px + (15 - 44) * ((100vw - 320px) / (1920 - 320))) * .25) 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (orientation: landscape) {
  .menu-container .nav-list li {
    width: auto;
  }
}
.menu-container .nav-list li a {
  line-height: 100%;
  position: relative;
  z-index: 100;
}
.menu-container .nav-list.main-nav-list {
  padding-inline: var(--pad-R);
}
@media screen and (orientation: landscape) {
  .menu-container .nav-list.main-nav-list {
    padding-inline: var(--pad-R) calc(var(--gap) * 2);
  }
}
@media screen and (orientation: landscape) {
  .menu-container .nav-list.main-nav-list {
    gap: calc(var(--gap) * 2);
    flex-direction: row;
    text-transform: uppercase;
    font-size: calc(16px + (16 - 16) * ((100vw - 320px) / (1920 - 320)));
  }
}
.menu-container .nav-list.main-nav-list li {
  border-top: 1px solid var(--color-contrast-high);
}
.menu-container .nav-list.main-nav-list li:last-of-type {
  border-bottom: 1px solid var(--color-contrast-high);
}
@media screen and (orientation: landscape) {
  .menu-container .nav-list.main-nav-list li:last-of-type {
    border: none;
  }
}
@media screen and (orientation: landscape) {
  .menu-container .nav-list.main-nav-list li {
    border: none;
  }
}
.menu-container .nav-list.main-nav-list li a {
  line-height: 1.3em;
}
.menu-container .nav-list.sub-nav-list {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
}
@media screen and (orientation: landscape) {
  .menu-container .nav-list.sub-nav-list {
    display: none;
    visibility: hidden;
  }
}
.menu-container .nav-list.nav-list--lang {
  flex-direction: row;
  justify-content: center;
  margin-top: calc(var(--touch-S) * .5);
}
@media screen and (orientation: landscape) {
  .menu-container .nav-list.nav-list--lang {
    margin-top: 0;
  }
}
.menu-container .nav-list.nav-list--lang li {
  width: var(--touch-S);
  display: inline-flex;
}
@media screen and (orientation: landscape) {
  .menu-container .nav-list.nav-list--lang li {
    width: auto;
  }
}
.menu-container .submenu {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  position: absolute;
  bottom: calc(var(--pad-T) * 3);
}
@media screen and (orientation: landscape) {
  .menu-container .submenu {
    position: relative;
    bottom: 0;
  }
}
@media screen and (orientation: landscape) {
  .menu-container .submenu .btn {
    padding: 0.3em var(--btn-pad-R, 1.25em) 0.38em;
  }
}

.foot-nav-list.cols-2 {
  column-count: 2;
}
@media screen and (orientation: landscape) {
  .foot-nav-list.cols-2 {
    column-count: 1;
  }
}

.menu-container li:hover,
.menu-container li:focus,
.menu-container li.current {
  cursor: pointer;
}

.nav-switch,
.nav-checkbox {
  display: none;
}

.hamburger {
  display: block;
  position: absolute;
  top: calc( (var(--pad-T) * 3) - (60px * .25));
  right: 0;
  z-index: 2;
  overflow: hidden;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  background-color: transparent;
}

.hamburger span {
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: calc(100% - (14px * 2));
}
.hamburger span, .hamburger span::before, .hamburger span::after {
  position: absolute;
  display: block;
  height: 2px;
  background-color: var(--color-contrast-high);
}
.hamburger span::before, .hamburger span::after {
  content: "";
  z-index: 2;
  left: 0;
  right: 0;
}

.hamburger span::before {
  top: -7px;
}

.hamburger span::after {
  bottom: -7px;
}

.nav-switch:checked ~ label span {
  background: none;
}

.nav-switch:checked ~ label span::before {
  top: 0;
}

.nav-switch:checked ~ label span::after {
  bottom: 0;
}

.nav-switch:checked ~ label ~ .menu-container {
  padding-top: calc( (calc(44px + (15 - 44) * ((100vw - 320px) / (1920 - 320))) * 2.0));
  cursor: pointer;
  height: calc( (calc(44px + (15 - 44) * ((100vw - 320px) / (1920 - 320))) + 1rem * 2) * 7);
  height: 100vh;
  height: 100dvh;
}

.accord-item {
  position: relative;
}
.accord-item:not(:first-of-type) {
  border-top: 1px solid var(--gray1);
}
.accord-item--header {
  padding-block: var(--pad-T) calc(var(--pad-T) * 1.0);
  display: flex;
  position: relative;
  gap: calc(var(--pad-T) * .15);
}
@media screen and (orientation: landscape) {
  .accord-item--header {
    padding-block-start: calc(var(--pad-T) * .65);
  }
}
.accord-item--content {
  display: flex;
  flex-direction: column;
  gap: var(--pad-T) calc(var(--fscreen-T) * 3.2);
}
@media screen and (orientation: landscape) {
  .accord-item--content {
    align-items: flex-start;
    gap: var(--gap);
    justify-content: space-between;
  }
}
.accord-item--content > *:last-child {
  margin-block-end: calc(var(--pad-T) * 2.5);
}
.accord-item--content_cols {
  display: flex;
  flex-wrap: wrap;
}
.accord-item--title {
  line-height: 1.15em;
}
.accord-item--label {
  display: inline-flex;
}

.accord-item:has(.accord-item--input:checked) .news-list--item_readmore {
  transition-delay: 0.0s, 0.0s;
}

.accord-item--switch {
  display: block;
  overflow: hidden;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: calc( (calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320))) * 3.2) + (calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320))) * 1.3) + var(--pad-T) );
  z-index: 10;
}
@media screen and (orientation: landscape) {
  .accord-item--switch {
    max-height: calc((calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320))) * 3.2) + (calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320))) * 1.3) + (var(--pad-T) * .65));
  }
}

.accord-item--input ~ .accord-item--switch ~ .accord-item--content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s 0s;
}
.accord-item--input:checked ~ .accord-item--switch ~ .accord-item--content {
  max-height: 200dvh;
  transition-duration: 1.4s;
}
@media screen and (orientation: landscape) {
  .accord-item--input:checked ~ .accord-item--switch ~ .accord-item--content {
    max-height: 150dvh;
  }
}

.gallery-grid--row, .gallery-grid--col {
  display: flex;
  gap: var(--gap);
}
.gallery-grid--col {
  height: 100%;
  flex-direction: column;
}
.gallery-grid--row {
  height: calc((100% - var(--gap)) * .5);
}
.gallery-grid--item {
  height: 100%;
}

/* MENU RELATED TRANSITIONS */
.header {
  transform: translate(0, 0);
  transition: transform 0.65s 0s ease-out;
}

.menu-container li {
  opacity: 0;
  transition: opacity		0.5s 0.3s;
}
@media screen and (orientation: landscape) {
  .menu-container li {
    opacity: 1;
  }
}

.nav-switch ~ label ~ .menu-container {
  background-color: transparent;
}

.nav-switch:checked ~ label ~ .menu-container {
  background-color: var(--menu-bg);
}
.nav-switch:checked ~ label ~ .menu-container li {
  opacity: 1;
}

.hamburger {
  transition: background 0.65s;
}

.hamburger span {
  transition: background 0s 0.65s;
}
.hamburger span::before, .hamburger span::after {
  transition-duration: 0.65s, 0.65s;
  transition-delay: 0.65s, 0s;
}

.hamburger span::before {
  transition-property: top, transform;
}

.hamburger span::after {
  transition-property: bottom, transform;
}

.nav-switch:checked ~ label span::before {
  transform: rotate(45deg);
}

.nav-switch:checked ~ label span::after {
  transform: rotate(-45deg);
}

.nav-switch:checked ~ label span::before,
.nav-switch:checked ~ label span::after {
  transition-delay: 0.65s, 0.65s;
}

.js {
  --intro-delay: 0.5s;
  --stagger-t: .25s;
}
.js .scrolled-OFF {
  transform: translate(0, calc(var(--header-H) * -1));
}
.js .scrolled-OFF .logo {
  transition-delay: 0.75s;
}
.js .scrolled-OFF .hamburger span {
  transition-delay: 0.4s;
}
.js .scrolled-OFF .logo,
.js .scrolled-OFF .hamburger span,
.js .scrolled-OFF .menu-container {
  transform: translate(0, calc(var(--header-H) * -1));
}
.js .header {
  background: var(--menu-bg);
  background-color: var(--menu-bg);
}
@media only screen and (max-device-width: 926px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .js .header {
    --color-bg: transparent;
    --menu-bg: transparent;
  }
}
.js .header .nav-list--lang {
  transition: color 0.35s ease-in-out;
}
.js .header.scrolled {
  --color-bg: var(--white);
}
.js .header.scrolled .nav-list--lang {
  color: hsla(var(--kamigos-blue-hsl), 0.35);
}
.js .header.scrolled .nav-list--lang li:hover, .js .header.scrolled .nav-list--lang li:active, .js .header.scrolled .nav-list--lang li:focus, .js .header.scrolled .nav-list--lang li.current-lang-item {
  color: hsla(var(--kamigos-blue-hsl), 1);
}
.js .header .logo svg {
  fill: var(--color-contrast-high);
}
.js .scroll-trigger--linethrough::before, .js .scroll-trigger--faq::before {
  display: none;
}
@media screen and (orientation: landscape) {
  .js .scroll-trigger--linethrough::before, .js .scroll-trigger--faq::before {
    display: block;
    transition: transform calc(0.65s * 2) 0s cubic-bezier(0.29, 0.88, 0.84, 1.1);
    transform: scaleY(0);
  }
}
@media screen and (orientation: landscape) {
  .js .scroll-trigger--linethrough.inView::before, .js .scroll-trigger--faq.inView::before {
    transform: scaleY(1);
  }
}
.js .scroll-trigger--faq > * {
  opacity: 0;
  transform: translateY(30px);
}
.js .scroll-trigger--faq > *:nth-child(1) {
  transition: opacity 0.75s 0.25s ease-in-out, transform 1s 0.25s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--faq > *:nth-child(2) {
  transition: opacity 0.75s 0.5s ease-in-out, transform 1s 0.5s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--faq.inView > * {
  opacity: 1;
  transform: translateY(0);
}
.js .scroll-trigger--news .news-list--anim::before {
  display: none;
}
@media screen and (orientation: landscape) {
  .js .scroll-trigger--news .news-list--anim::before {
    transition: transform calc(0.65s * 2) 0s cubic-bezier(0.29, 0.88, 0.84, 1.1);
    transform: scaleX(0);
  }
}
@media screen and (orientation: landscape) {
  .js .scroll-trigger--news.inView .news-list--anim::before {
    transform: scaleX(1);
  }
}
.js .scroll-trigger--contact .company-legal,
.js .scroll-trigger--contact .even-columns--item {
  opacity: 0;
  transform: translateY(30px);
}
.js .scroll-trigger--contact .company-legal:nth-child(1),
.js .scroll-trigger--contact .even-columns--item:nth-child(1) {
  transition: opacity 0.875s 0.25s ease-in-out, transform 1.125s 0.25s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--contact .company-legal:nth-child(2),
.js .scroll-trigger--contact .even-columns--item:nth-child(2) {
  transition: opacity 0.875s 0.5s ease-in-out, transform 1.125s 0.5s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--contact .company-legal:nth-child(3),
.js .scroll-trigger--contact .even-columns--item:nth-child(3) {
  transition: opacity 0.875s 0.75s ease-in-out, transform 1.125s 0.75s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--contact .company-legal:nth-child(4),
.js .scroll-trigger--contact .even-columns--item:nth-child(4) {
  transition: opacity 0.875s 1s ease-in-out, transform 1.125s 1s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--contact .company-legal:nth-child(5),
.js .scroll-trigger--contact .even-columns--item:nth-child(5) {
  transition: opacity 0.875s 1.25s ease-in-out, transform 1.125s 1.25s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--contact .company-legal:nth-child(6),
.js .scroll-trigger--contact .even-columns--item:nth-child(6) {
  transition: opacity 0.875s 1.5s ease-in-out, transform 1.125s 1.5s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--contact .company-legal:nth-child(7),
.js .scroll-trigger--contact .even-columns--item:nth-child(7) {
  transition: opacity 0.875s 1.75s ease-in-out, transform 1.125s 1.75s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--contact .company-legal:nth-child(8),
.js .scroll-trigger--contact .even-columns--item:nth-child(8) {
  transition: opacity 0.875s 2s ease-in-out, transform 1.125s 2s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--contact .company-legal:nth-child(9),
.js .scroll-trigger--contact .even-columns--item:nth-child(9) {
  transition: opacity 0.875s 2.25s ease-in-out, transform 1.125s 2.25s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--contact .company-legal:nth-child(10),
.js .scroll-trigger--contact .even-columns--item:nth-child(10) {
  transition: opacity 0.875s 2.5s ease-in-out, transform 1.125s 2.5s cubic-bezier(0.41, 1.1, 1, 1);
}
.js .scroll-trigger--contact.inView .company-legal,
.js .scroll-trigger--contact.inView .even-columns--item {
  opacity: 1;
  transform: translateY(0);
}
.js .loading .site-title {
  opacity: 0;
}
.js .loading .site-title:nth-of-type(3), .js .loading .site-title:nth-of-type(4),
.js .loading .site-title .doubled-line {
  transform: translateY(0);
}
.js .loading .site-subtitle {
  opacity: 0;
  transform: translateY(30px);
}
.js .site-title,
.js .doubled-line {
  transition: opacity 0.875s 0s ease-in-out, transform 2.625s 0s cubic-bezier(0.29, 0.88, 0.84, 1.1);
}
.js .site-subtitle {
  transition: opacity 0.875s calc(var(--intro-delay) * 4) ease-in-out, transform 1.75s calc(var(--intro-delay) * 4) ease-in-out;
}
.js .site-title {
  opacity: 1;
}
.js .site-title:nth-of-type(3), .js .site-title:nth-of-type(4),
.js .site-title .doubled-line {
  transform: translateY(0.15em);
}
.js .site-title:nth-of-type(1) {
  transition-delay: calc(0.875s + (var(--stagger-t) * 1) ), 0s;
}
.js .site-title:nth-of-type(2),
.js .site-title .doubled-line {
  transition-delay: calc(0.875s + (var(--stagger-t) * 2) ), calc(var(--intro-delay) * 4);
}
.js .site-title:nth-of-type(3) {
  transition-delay: calc(0.875s + (var(--stagger-t) * 3) ), calc(var(--intro-delay) * 4);
}
.js .site-title:nth-of-type(4) {
  transition-delay: calc(0.875s + (var(--stagger-t) * 4) ), calc(var(--intro-delay) * 4);
}
.js .site-subtitle {
  transform: translateY(0.3em);
}

.btn {
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}
.btn-outline:hover, .btn-outline:active, .btn-outline:focus, .btn-outline:focus-within {
  border-color: var(--btn-highlight);
}
.btn.hover-bgr:hover, .btn.hover-bgr:active, .btn.hover-bgr:focus, .btn.hover-bgr:focus-within {
  background-color: var(--btn-highlight);
}

.menu a::after, .menu a:not(.btn)::after, .menu a.hover-underline::after,
.section-footer--col a::after,
.section-footer--col a:not(.btn)::after,
.section-footer--col a.hover-underline::after,
.main-nav-list a::after,
.main-nav-list a:not(.btn)::after,
.main-nav-list a.hover-underline::after,
.foot-nav-list a::after,
.foot-nav-list a:not(.btn)::after,
.foot-nav-list a.hover-underline::after {
  transform: translateX(-100%);
  transition: transform 0.35s;
}
.menu a:active::after, .menu a:focus::after, .menu a:focus-within::after, .menu a:hover::after, .menu a:focus::after, .menu a:not(.btn):active::after, .menu a:not(.btn):focus::after, .menu a:not(.btn):focus-within::after, .menu a:not(.btn):hover::after, .menu a:not(.btn):focus::after, .menu a.hover-underline:active::after, .menu a.hover-underline:focus::after, .menu a.hover-underline:focus-within::after, .menu a.hover-underline:hover::after, .menu a.hover-underline:focus::after,
.section-footer--col a:active::after,
.section-footer--col a:focus::after,
.section-footer--col a:focus-within::after,
.section-footer--col a:hover::after,
.section-footer--col a:focus::after,
.section-footer--col a:not(.btn):active::after,
.section-footer--col a:not(.btn):focus::after,
.section-footer--col a:not(.btn):focus-within::after,
.section-footer--col a:not(.btn):hover::after,
.section-footer--col a:not(.btn):focus::after,
.section-footer--col a.hover-underline:active::after,
.section-footer--col a.hover-underline:focus::after,
.section-footer--col a.hover-underline:focus-within::after,
.section-footer--col a.hover-underline:hover::after,
.section-footer--col a.hover-underline:focus::after,
.main-nav-list a:active::after,
.main-nav-list a:focus::after,
.main-nav-list a:focus-within::after,
.main-nav-list a:hover::after,
.main-nav-list a:focus::after,
.main-nav-list a:not(.btn):active::after,
.main-nav-list a:not(.btn):focus::after,
.main-nav-list a:not(.btn):focus-within::after,
.main-nav-list a:not(.btn):hover::after,
.main-nav-list a:not(.btn):focus::after,
.main-nav-list a.hover-underline:active::after,
.main-nav-list a.hover-underline:focus::after,
.main-nav-list a.hover-underline:focus-within::after,
.main-nav-list a.hover-underline:hover::after,
.main-nav-list a.hover-underline:focus::after,
.foot-nav-list a:active::after,
.foot-nav-list a:focus::after,
.foot-nav-list a:focus-within::after,
.foot-nav-list a:hover::after,
.foot-nav-list a:focus::after,
.foot-nav-list a:not(.btn):active::after,
.foot-nav-list a:not(.btn):focus::after,
.foot-nav-list a:not(.btn):focus-within::after,
.foot-nav-list a:not(.btn):hover::after,
.foot-nav-list a:not(.btn):focus::after,
.foot-nav-list a.hover-underline:active::after,
.foot-nav-list a.hover-underline:focus::after,
.foot-nav-list a.hover-underline:focus-within::after,
.foot-nav-list a.hover-underline:hover::after,
.foot-nav-list a.hover-underline:focus::after {
  transform: translateX(0);
}

.cta-item--link .cta-label {
  transition: transform 0.35s ease-in-out;
}
.cta-item--link .icon {
  transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}
.cta-item--link:hover .cta-label, .cta-item--link:active .cta-label, .cta-item--link:focus .cta-label, .cta-item--link:focus-within .cta-label {
  transform: rotate(-3deg);
}
.cta-item--link:hover .icon, .cta-item--link:active .icon, .cta-item--link:focus .icon, .cta-item--link:focus-within .icon {
  border-color: var(--color-highlight);
  background-color: var(--color-highlight);
}

.hover-bgr--ochre {
  --btn-highlight: var(--kami-ochre);
}

.eab-card .icon {
  transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}
.eab-card .eab-card__media {
  transform: rotate(0deg);
  transition: transform 0.35s ease-in-out;
}
.eab-card:hover, .eab-card:active, .eab-card:focus, .eab-card:focus-within {
  outline: none;
}
.eab-card:hover .icon, .eab-card:active .icon, .eab-card:focus .icon, .eab-card:focus-within .icon {
  outline: none;
  border-color: var(--color-highlight);
  background-color: var(--color-highlight);
}
.eab-card:hover .eab-card__media, .eab-card:active .eab-card__media, .eab-card:focus .eab-card__media, .eab-card:focus-within .eab-card__media {
  outline: none;
  transform: rotate(-3deg);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
::-webkit-scrollbar {
  display: none;
}

html {
  overflow: auto;
  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-width: none;
  /* Firefox 64 */
  scroll-behavior: smooth;
}

[data-theme], [data-theme="default"] {
  background-color: var(--color-bg);
  color: var(--color-contrast-high);
  --menu-bg: var(--kami-ochre);
  --btn-highlight: var(--kami-silky-blue);
}
@media screen and (orientation: landscape) {
  [data-theme], [data-theme="default"] {
    --menu-bg: transparent;
  }
}

[data-theme="dark"] {
  --color-primary: var(--white);
  /* color contrasts */
  --color-bg: var(--kamigos-blue);
  --color-contrast-high: var(--white);
  --color-labels: var(--white);
}

[data-theme="transparent"] {
  --color-primary: var(--white);
  /* color contrasts */
  --color-bg: transparent;
  --color-contrast-high: var(--white);
  --color-labels: var(--white);
}

[data-theme="ochre"] {
  --color-bg: var(--kami-ochre);
}

[data-theme="silky-blue"] {
  --color-bg: var(--kami-silky-blue);
  --color-highlight: var(--kami-ochre);
  --btn-highlight: var(--kami-ochre);
}

.wrapper {
  position: relative;
}
.wrapper > *:first-child:not(.full-bleed) {
  padding-top: calc(var(--pad-T) * 7);
}

.accord-item--input,
.nav-switch,
.nav-checkbox {
  display: none;
}

.section:not(.full-bleed) {
  padding-inline: var(--wrapper-padding-inline);
}
.section-offer, .section-footer {
  padding-block: calc(var(--pad-T) * 1.33333333);
}
.section-join, .section-about {
  padding-block: calc(var(--pad-T) * 1.33333333) calc(var(--pad-T) * 6.33333333);
}
@media screen and (orientation: landscape) {
  .section-join, .section-about {
    padding-block: calc(var(--pad-T) * 1.33333333) calc(var(--pad-T) * 5);
  }
}
.section-footer {
  background-color: var(--color-highlight);
}
.section-footer--row {
  display: flex;
  gap: var(--gap);
}
.section-footer--row:not(.section-footer--row_cols) {
  flex-direction: column;
}
@media screen and (orientation: landscape) {
  .section-footer--row:not(.section-footer--row_cols) {
    flex-direction: row;
  }
}
.section-footer--col:not(.section-footer--col_50) {
  width: 100%;
}
.section-footer--col_50 {
  width: 50%;
}
.section-footer--col:not(.section-footer--col_logo) {
  padding-block: calc(var(--pad-T) * .5) calc(var(--pad-T) * 2);
}
@media screen and (orientation: landscape) {
  .section-footer--col {
    width: 50%;
  }
}
.section-footer--col_log-in-out {
  text-align: center;
}
@media screen and (orientation: landscape) {
  .section-footer--col_log-in-out {
    text-align-last: left;
  }
}
.section.section-faq {
  padding-inline: var(--wrapper-padding-inline);
}
@media screen and (orientation: landscape) {
  .section.section-faq {
    padding-inline: 0;
  }
}
.section:not(.section--hero):not(.section--footer) {
  position: relative;
  z-index: 1;
}
.section--hero {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section--hero.sticky {
  position: sticky;
  top: 0;
  z-index: 0;
}
.section--hero.fixed {
  position: fixed;
  z-index: 0;
}
.section--hero video,
.section--hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.section-news {
  padding-block-start: calc(var(--pad-R) * 2.5);
}
.section--footer {
  padding-block: var(--pad-T);
  padding-inline: var(--pad-R);
}

.even-columns {
  display: flex;
  flex-direction: column;
  gap: var(--pad-R) var(--pad-T);
}
@media screen and (orientation: landscape) {
  .even-columns {
    flex-direction: row;
  }
}
.even-columns--item {
  flex-basis: calc((100% - var(--pad-R)) * .5);
}

.faq-item--headline_title,
.site-title {
  position: relative;
  line-height: 1em;
}

.site-title {
  font-size: calc(60px + (120 - 60) * ((100vw - 320px) / (1920 - 320)));
}

.faq-item--headline_title {
  font-size: calc(60px + (120 - 60) * ((100vw - 320px) / (1920 - 320)));
}

@media screen and (orientation: landscape) {
  .logo-container,
  .menu-container {
    height: calc(var(--logo-H) * 1.5 );
    top: var(--pad-T);
  }
}

.section-footer--col {
  position: relative;
}
.section-footer--col_logo::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: calc(var(--logo-H) * 5.0 );
}
.section-footer--col .logo-container {
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (orientation: landscape) {
  .section-footer--col .logo-container {
    width: 80%;
    height: calc(var(--logo-H) * 3.5 );
  }
}
.section-footer--col .logo {
  width: 100%;
}
@media screen and (orientation: landscape) {
  .section-footer--col .logo {
    width: 100%;
  }
}

.section-footer--col .widget-title {
  margin-bottom: calc( var(--pad-T) * .25 );
}

.cta-container,
.split-cols {
  display: flex;
  flex-direction: column;
}
@media screen and (orientation: landscape) {
  .cta-container,
  .split-cols {
    flex-direction: row;
  }
}

@media screen and (orientation: landscape) {
  .split-cols.full-H {
    min-height: 100dvh;
  }
}
.split-cols--item {
  display: flex;
  flex-direction: column;
}
.split-cols--item:not(.split-cols--item_caption):not(.split-cols--item_img) {
  justify-content: center;
  min-height: 60dvh;
}
.split-cols--item_caption {
  padding-block: calc(var(--pad-T) * 1.33333333) calc(var(--pad-T) * 2.666666);
  padding-inline: 0;
}
@media screen and (orientation: landscape) {
  .split-cols--item_caption {
    padding-block: calc(var(--pad-T) * .25) calc(var(--pad-T) * 2.666666);
    padding-inline: calc(var(--gap) * .5);
  }
}
@media screen and (orientation: landscape) {
  .split-cols--item_caption > * {
    max-width: 24em;
  }
}
.split-cols--item:not(.carousel):not(.split-cols--item_img):not(.split-cols--item_caption) {
  padding: var(--pad-T) var(--pad-R);
}
.split-cols--item_img {
  position: relative;
}
@media screen and (orientation: landscape) {
  .split-cols--item {
    min-height: initial;
    width: 50%;
  }
}
@media screen and (orientation: landscape) {
  .split-cols .split-cols--img {
    position: relative;
    width: calc(100% / 3 * 2);
    margin-top: calc(var(--pad-T) * .25);
    height: auto;
  }
}
.split-cols .split-cols--img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-row--cta {
  display: flex;
  justify-content: center;
  padding-block: calc(var(--pad-T) * 2.66666) 0;
}

.section-join--cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-join--cta .btn {
  margin-block: calc(var(--pad-T) * 1.333333);
}
@media screen and (orientation: landscape) {
  .section-join--cta .btn {
    margin-block: calc(var(--pad-T) * 1.333333) calc(var(--pad-T) * .75);
  }
}

.section-join--title {
  text-align: center;
}

.section-header--title {
  line-height: .95em;
  margin-bottom: calc(var(--pad-T) * .25);
}

.section-header--subtitle.border-T {
  padding-top: calc(var(--pad-T) * .25);
}

.carousel {
  background-color: pink;
  position: relative;
}
.carousel .carousel-item {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.carousel .carousel-item--img_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel .carousel-item--img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-headline {
  padding-bottom: calc(var(--pad-T) * .5);
  margin-bottom: calc(var(--pad-T) * .5);
}
@media screen and (orientation: landscape) {
  .section-headline {
    padding-bottom: calc(var(--pad-T) * .25);
    margin-bottom: calc(var(--pad-T) * .25);
  }
}

@media screen and (orientation: landscape) {
  .section-perex {
    max-width: calc(50% - var(--pad-R));
  }
}

.cta-container {
  padding-block: calc(var(--pad-T) * 4) calc(var(--pad-T) * 5);
}
.cta-item {
  display: flex;
  justify-content: center;
}
.cta-item:not(:last-child) {
  margin-bottom: calc(var(--pad-T) * 2);
}
@media screen and (orientation: landscape) {
  .cta-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (orientation: landscape) {
  .cta-item {
    width: 50%;
  }
}
.cta-label {
  text-align: center;
  flex-grow: 2;
}
@media screen and (orientation: landscape) {
  .cta-label {
    flex-grow: 1;
  }
}

.btn-icon {
  flex-grow: 1;
  --btn-highlight: var(--color-contrast-high);
}
@media screen and (orientation: landscape) {
  .btn-icon {
    flex-grow: .5;
  }
}

.icon {
  display: inline-flex;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--color-contrast-high);
  margin-left: calc(calc(30px + (36 - 30) * ((100vw - 320px) / (1920 - 320))) * -1);
}
@media screen and (orientation: landscape) {
  .icon {
    margin-left: 0;
  }
}
.icon-arrow {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 40 40'%3E%3Cpath fill='%23000' d='m26.424 19.576.425.424-.425.424-6 6-.848-.848 4.977-4.976H13v-1.2h11.553l-4.977-4.976.848-.848z'/%3E%3C/svg%3E") center center no-repeat;
  background-size: 40px 40px;
}

.textlink {
  position: relative;
}
.textlink-underline::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-contrast-high);
}

.eab-listing {
  padding-inline: var(--wrapper-padding-inline);
  padding-block: calc(var(--pad-T) * 2.666666) calc(var(--pad-T) * 2.666666);
}
@media screen and (orientation: landscape) {
  .eab-listing {
    padding-block: calc(var(--pad-T) * 2.666666) calc(var(--pad-T) * 5);
  }
}
.eab-listing .eab-listing__header .eab-listing__title {
  margin-bottom: 0;
}
.eab-listing .eab-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--gap) * 4) var(--gap);
}
@media screen and (orientation: landscape) {
  .eab-listing .eab-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.eab-listing .eab-grid .eab-card {
  position: relative;
  border-top: 1px solid var(--color-contrast-high);
  padding-top: calc(var(--gap) * .5);
}
.eab-listing .eab-grid .eab-card .eab-card__header {
  margin-bottom: calc(var(--pad-T) * 1.33333333);
}
.eab-listing .eab-grid .eab-card .eab-card__header .eab-card__title {
  margin-bottom: calc(var(--pad-T) * .2);
}
.eab-listing .eab-grid .eab-card .eab-card__header .eab-card__date {
  font-size: calc(15px + (15 - 15) * ((100vw - 320px) / (1920 - 320)));
}
.eab-listing .eab-grid .eab-card .eab-card__header .eab-card__price {
  visibility: hidden;
  display: none;
}
.eab-listing .eab-grid .eab-card .eab-card__header .icon {
  position: absolute;
  top: calc(var(--gap) * .7);
  right: 0;
  width: var(--icon-S);
  height: var(--icon-S);
}

/*# sourceMappingURL=style.css.map */
