:root, [data-theme="default"] {
  --black: #000000;
  --gray1: hsla(0, 0%, 85%, 1);
  --gray2: hsla(0, 0%, 48%, 1);
  --gray3: hsla(0, 0%, 62%, 1);
  --gray4: hsla(0, 0%, 72%, 1);
  --color-primary: var(--gray1);
  --kami-ochre-hsl: 39deg, 66%, 50%;
  --kami-ochre: hsla(var(--kami-ochre-hsl), 1.0);
  --kami-silky-blue-hsl: 209deg, 100%, 92%;
  --kami-silky-blue: hsla(var(--kami-silky-blue-hsl), 1.0);
  --kami-dark-green-hsl: 175deg, 100%, 23%;
  --kami-dark-green: hsla(var(--kami-dark-green-hsl), 1.0);
  --kami-blue-hsl: 214deg, 74%, 52%;
  --kami-blue: hsla(var(--kami-blue-hsl), 1.0);
  --kami-off-white-hsl: 24deg, 33%, 97%;
  --kami-off-white: hsla(var(--kami-off-white-hsl), 1.0);
  --kami-lavender-hsl: 287deg, 26%, 59%;
  --kami-lavender: hsla(var(--kami-lavender-hsl), 1.0);
  --kamigos-white-hsl: 0deg, 100%, 100%;
  --white: hsla(var(--kamigos-white-hsl), 1.0);
  --kamigos-blue-hsl: 240deg, 100%, 51%;
  --kamigos-blue: hsla(var(--kamigos-blue-hsl), 1);
  --corp-c-1: hsla(231, 100%, 51%, 1);
  --corp-c-2: hsla(87, 31%, 86%, 1);
  --corp-c-3: hsla(18, 86%, 83%, 1);
  --corp-c-4: hsla(357, 89%, 35%, 1);
  /* color contrasts */
  --color-bg: var(--kami-off-white);
  --color-contrast-high: var(--black);
  --color-highlight: var(--kami-ochre);
  --color-labels: var(--black);
}

:root {
  --pad-T: calc(20px + (30 - 20) * ((100vw - 320px) / (2560 - 320)));
  --pad-R: calc(15px + (20 - 15) * ((100vw - 320px) / (2560 - 320)));
  --btn-pad-R: 1.5em;
  --gap: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
  --hero-gap: calc(28px + (24 - 28) * ((100vw - 320px) / (2560 - 320)));
  --fscreen-T: var(--pad-T);
  --fscreen-R: var(--pad-R);
  --wrapper-padding-inline: var(--pad-R);
  --wrapper-max-width: 90rem;
  --touch-S: 28px;
  --icon-S: calc(32px + (48 - 32) * ((100vw - 320px) / (2560 - 320)));
  --dsalpha-1: 0.0;
  --dsalpha-2: 0.0;
  --maW: 1440;
  --logo-H: calc(36px + (42 - 36) * ((100vw - 320px) / (2560 - 320)));
  --header-H: 20vh;
  --dir-LR: 1;
  --gallery-H: 80dvh;
  --paralax-X: 20rem;
  --dot-R: 4px;
}
@media (pointer: coarse) {
  :root {
    --touch-S: 42px;
    --icon-S: 36px;
    --dot-R: 6px;
  }
}

/* GLOBAL SIZES */
/* CSS TRANSITION VARS */
/* GLOBAL FONT-SIZE */
/* GLOBAL PADDING */
/* GLOBAL MARGIN */
/* HEADER */
/* LOGO */
/* NAVIGATION */
/* NAVIGATION HAMBURGER MENU */
/* FORM SPECIFIC */
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
  visibility: hidden;
}

.menu,
.list-none > li {
  list-style: none;
}

.floating-li > li {
  display: inline;
}

.taR {
  text-align: right;
}

.taC {
  text-align: center;
}

.taL {
  text-align: left;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

.rel {
  position: relative;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caps {
  text-transform: uppercase;
}

.sticky {
  position: sticky;
}
.sticky-top {
  top: 0;
}

.square {
  aspect-ratio: 1/1;
}

.circ {
  border-radius: 50%;
}

.flexcols {
  display: flex;
  flex-wrap: wrap;
}
.flexcols .flexcols-item--even_W {
  width: clamp(5em, 6ch, 100px);
}

.valign-center {
  justify-content: center;
}

.fill-color-contrast-high {
  fill: var(--color-contrast-high);
}

.border-T,
.border-B {
  position: relative;
}

.border-T::before,
.border-B::after {
  content: "";
  display: block;
  background-color: var(--color-contrast-high);
  position: absolute;
  left: 0;
  transform-origin: center;
  width: 100%;
  height: 1px;
}

.border-T::before {
  top: 0;
}

.border-B::after {
  bottom: 0;
}

.sticky {
  position: sticky;
}
.sticky-top {
  top: 0;
}
.sticky-bottom {
  bottom: 0;
}

.toned::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 255, 0.8) 0%, rgba(0, 0, 255, 0.75) 100%);
}

.abs-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.desktop-hide {
  visibility: visible;
  display: initial;
}
@media screen and (orientation: landscape) {
  .desktop-hide {
    visibility: hidden;
    display: none;
  }
}

.pad-T {
  padding-top: calc(var(--pad-T) * 1.333333);
}
.pad-T-1 {
  padding-top: calc(var(--pad-T) * 1.333333 * 1);
}
.pad-T-2 {
  padding-top: calc(var(--pad-T) * 1.333333 * 2);
}
.pad-T-3 {
  padding-top: calc(var(--pad-T) * 1.333333 * 3);
}
.pad-T-4 {
  padding-top: calc(var(--pad-T) * 1.333333 * 4);
}
.pad-T-5 {
  padding-top: calc(var(--pad-T) * 1.333333 * 5);
}
.pad-T-6 {
  padding-top: calc(var(--pad-T) * 1.333333 * 6);
}

.pad-B {
  padding-bottom: calc(var(--pad-T) * 2.6666666);
}
.pad-B-1 {
  padding-bottom: calc(var(--pad-T) * 1.333333 * 1);
}
.pad-B-2 {
  padding-bottom: calc(var(--pad-T) * 1.333333 * 2);
}
.pad-B-3 {
  padding-bottom: calc(var(--pad-T) * 1.333333 * 3);
}
.pad-B-4 {
  padding-bottom: calc(var(--pad-T) * 1.333333 * 4);
}
.pad-B-5 {
  padding-bottom: calc(var(--pad-T) * 1.333333 * 5);
}
.pad-B-6 {
  padding-bottom: calc(var(--pad-T) * 1.333333 * 6);
}

.pad-L {
  padding-left: calc(var(--pad-R));
}

.pad-R {
  padding-right: calc(var(--pad-R));
}

.pad-Block {
  padding-block: calc(var(--pad-T) * 7) calc(var(--pad-T) * 1.33333333);
}

.pad-Inline {
  padding-inline: var(--wrapper-padding-inline);
}

/* Main column width */
.wp-block {
  max-width: 1440px;
}

.wp-block-acf-proj-info-col {
  max-width: 50%;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 1440px;
}

/* Width of "full-width" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block .custom-section,
.wp-block .custom-section-header,
.wp-block .program-container,
.wp-block .accordion-content-wrapper, .wp-block.wp-block-acf-custom-section,
.wp-block .custom-columns--item, .wp-block-acf-eshop-list,
.wp-block .wp-block-group__inner-container,
.wp-block .section-content {
  border: 2px dotted var(--black);
  padding: 1rem;
}

/*# sourceMappingURL=style-editor.css.map */
