:root, [data-theme="default"] {
  --black: #000000;
  --gray1: hsla(0, 0%, 85%, 1);
  --gray2: hsla(0, 0%, 48%, 1);
  --gray3: hsla(0, 0%, 62%, 1);
  --gray4: hsla(0, 0%, 72%, 1);
  --color-primary: var(--gray1);
  --kami-ochre-hsl: 39deg, 66%, 50%;
  --kami-ochre: hsla(var(--kami-ochre-hsl), 1.0);
  --kami-silky-blue-hsl: 209deg, 100%, 92%;
  --kami-silky-blue: hsla(var(--kami-silky-blue-hsl), 1.0);
  --kami-dark-green-hsl: 175deg, 100%, 23%;
  --kami-dark-green: hsla(var(--kami-dark-green-hsl), 1.0);
  --kami-blue-hsl: 214deg, 74%, 52%;
  --kami-blue: hsla(var(--kami-blue-hsl), 1.0);
  --kami-off-white-hsl: 24deg, 33%, 97%;
  --kami-off-white: hsla(var(--kami-off-white-hsl), 1.0);
  --kami-lavender-hsl: 287deg, 26%, 59%;
  --kami-lavender: hsla(var(--kami-lavender-hsl), 1.0);
  --kamigos-white-hsl: 0deg, 100%, 100%;
  --white: hsla(var(--kamigos-white-hsl), 1.0);
  --kamigos-blue-hsl: 240deg, 100%, 51%;
  --kamigos-blue: hsla(var(--kamigos-blue-hsl), 1);
  --corp-c-1: hsla(231, 100%, 51%, 1);
  --corp-c-2: hsla(87, 31%, 86%, 1);
  --corp-c-3: hsla(18, 86%, 83%, 1);
  --corp-c-4: hsla(357, 89%, 35%, 1);
  /* color contrasts */
  --color-bg: var(--kami-off-white);
  --color-contrast-high: var(--black);
  --color-highlight: var(--kami-ochre);
  --color-labels: var(--black);
}

:root {
  --pad-T: calc(20px + (30 - 20) * ((100vw - 320px) / (2560 - 320)));
  --pad-R: calc(15px + (20 - 15) * ((100vw - 320px) / (2560 - 320)));
  --btn-pad-R: 1.5em;
  --gap: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
  --hero-gap: calc(28px + (24 - 28) * ((100vw - 320px) / (2560 - 320)));
  --fscreen-T: var(--pad-T);
  --fscreen-R: var(--pad-R);
  --wrapper-padding-inline: var(--pad-R);
  --wrapper-max-width: 90rem;
  --touch-S: 28px;
  --icon-S: 40px;
  --dsalpha-1: 0.0;
  --dsalpha-2: 0.0;
  --maW: 1440;
  --logo-H: calc(36px + (42 - 36) * ((100vw - 320px) / (2560 - 320)));
  --header-H: 20vh;
  --dir-LR: 1;
  --gallery-H: 80dvh;
  --paralax-X: 20rem;
  --dot-R: 4px;
}
@media (pointer: coarse) {
  :root {
    --touch-S: 42px;
    --icon-S: 36px;
    --dot-R: 6px;
  }
}

/* GLOBAL SIZES */
/* CSS TRANSITION VARS */
/* GLOBAL FONT-SIZE */
/* GLOBAL PADDING */
/* GLOBAL MARGIN */
/* HEADER */
/* LOGO */
/* NAVIGATION */
/* NAVIGATION HAMBURGER MENU */
/* FORM SPECIFIC */
@font-face {
  font-family: 'FF-Reg';
  src: url("../fonts/Fellix-SemiBold.woff") format("woff"), url("../fonts/Fellix-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column.column_circle {
    flex-basis: calc((100% - (var(--pad-R) * 1)) * 1/ 2) !important;
  }
}
@media (min-width: 782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column.pricelist-col_price {
    flex-basis: 8ch !important;
    flex-grow: 0;
  }
}
.section-content .normal a,
.text-link.normal a,
a.text-link.normal {
  text-transform: none !important;
}

.section * + .wp-block-image {
  margin-top: calc(var(--pad-T) * 0.875);
}

.acf-line-top {
  padding-bottom: 1px;
}

figure + .acf-line-top {
  margin-top: calc(var(--pad-T)* 2.5);
}

h3 + figure.wp-block-embed {
  margin-block-start: var(--pad-T);
}

.wp-post-image img {
  margin-bottom: -5px;
}

/* Inline #14 | http://localhost:3000/versatile/kontakt/ */
:where(.wp-block-columns.is-layout-flex),
:where(.wp-block-columns.is-layout-flex),
:where(.is-layout-flex) {
  gap: 0;
  gap: var(--tile-gap);
}

.wp-block-columns.wrap-on-portrait {
  flex-wrap: wrap !important;
}
@media screen and (orientation: landscape) {
  .wp-block-columns.wrap-on-portrait {
    flex-wrap: nowrap;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .wp-block-columns.wrap-on-portrait {
    flex-wrap: wrap !important;
  }
}
.wp-block-columns.wrap-on-portrait .wp-block-column {
  flex-basis: 100%;
}
@media screen and (orientation: landscape) {
  .wp-block-columns.wrap-on-portrait .wp-block-column {
    flex-basis: 0;
  }
}

/*# sourceMappingURL=wp-block-fix-style.css.map */
