input[type="submit"],
button {
	display: inline-block;
	background-image: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	box-shadow: none;
	text-shadow: none;
}
input[type="submit"],
.btn,	
button{
	&:active,
	&:focus,
	&:target,
	&:focus-visible,
	&:focus-within {
		cursor: pointer;
		outline:0;
	}
	-webkit-appearance: none;
}


// buttony
.btn {
	&:not(.btn-icon) {
		display: inline-block;
	}
	&-circ {}
	&-oval {
		border-radius: $bor-RADIUS;
		&:not(.btn-icon) {
			padding: .7em calc(var(--btn-pad-R) * 3) .8em;
			// min-width: 20em;
			@include mq(mq-land) {
				padding: .7em var(--btn-pad-R, 2em) .8em;
				// min-width: initial;
			}
		}
	}
	&-fill {
		background-color: var(--btn-highlight);
	}
	&-icon {
		// position: absolute;
		// right: .8em;
		display: flex;
		padding: .8em .8em .8em;
		@include mq(mq-land) {
			// position: relative;
			// min-width: initial;
		}
	}
	&-outline {
		border: $line-THICK solid var(--color-contrast-high);
	}
}